.login-frame {
    width: 100%;

    .login-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 360px;

        .login-section {
            display: flex;
            justify-content: center;
            max-width: 1128px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: -80px;
            height: 471px;
            width: 100%;
            border-radius: 16px;
            border: 1px solid rgba(239,82,34,.6);
            background: #fff;
            outline: 6px solid rgba(170,46,8,.063);

            .login-banner {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                align-items: flex-start;
                position: relative;

                .slogan {
                    position: absolute;
                    top: 2rem;
                    left: 2.5rem;

                    .slogan-img {
                        position: relative;
                        min-height: 77px;
                        min-width: 366px;
                        object-fit: cover;

                        img {
                            position: relative;
                            min-height: 77px;
                            min-width: 366px;
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            color: transparent;
                        }
                    }
                }

                .banner-content {
                    position: absolute;
                    top: 3.5rem;
                    right: 0;
                    left: 0;
                    bottom: 0;

                    .banner-img {
                        position: relative;
                        width: 100%;
                        max-width: 600px;
                        object-fit: cover;
                        aspect-ratio: 3/2;

                        img {
                            position: relative;
                            width: 100%;
                            max-width: 600px;
                            object-fit: cover;
                            aspect-ratio: 3/2;
                            height: 100%;
                            inset: 0px;
                            color: transparent;
                        }
                    }
                }
            }

            .login-input {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 480px;
                margin-top: 2rem;

                .login-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 480px;

                    .login-form-title {
                        font-weight: 600;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }

                    .login-form-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        box-sizing: border-box;
                        margin: 2rem 0 0 0;
                        color: rgba(0,0,0,.85);
                        font-size: 14px;
                        font-variant: tabular-nums;
                        line-height: 1.5715;
                        list-style: none;
                        font-feature-settings: "tnum";

                        form {
                            display: flex;
                            flex-direction: column;
                            width: 408px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 30px;
                            flex: none;
                            outline: none;

                            .login-input-content {
                                display: flex;
                                border: 1px solid rgb(239, 158, 8);
                                border-radius: 8px;
                                margin-bottom: 35px;

                                img {
                                    padding: 6px 12px;
                                }

                                .form-control {
                                    border-color: transparent;
                                    flex: 1;

                                    &:focus-within {
                                        outline: none;
                                        box-shadow: none !important;
                                    }
                                }

                                .form-control::placeholder {
                                    opacity: 0.5;
                                }

                                &:focus-within {
                                    border-color: rgb(239, 158, 8);
                                    box-shadow: 0 0 0 3px rgba(239, 158, 8, 0.3);
                                }
                            }

                            .btn-login {
                                margin-top: 30px;
                                background: #ef5222;
                                color: #fff;
                                border: 1px solid #ef5222;
                                padding: 0 20px;
                                height: 2.75rem;
                                border-radius: 32px;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}