.payment-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 28rem;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;

    .payment-frame {
        position: absolute;
        z-index: 30;
        top: -100px;
        left: 0;
        right: 0;

        .payment-header {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            color: white;
            font-weight: 600;

            .payment-header-buses {
                display: flex;
                flex-direction: column;
                text-align: center;

                p {
                    margin-bottom: 0 !important;
                }
            }
        }

        .payment-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 2rem;
            padding-bottom: 2rem;

            .payment-method {
                display: flex;
                flex-direction: column;
                width: 320px;

                .payment-method-group {
                    margin-top: 10px;

                    .form-check {
                        display: flex !important;
                        align-items: center;
                        font-weight: 600;
                        font-size: 16px;
                        margin-top: 20px;

                        input {
                            cursor: pointer;
                        }

                        input:checked {
                            background-color: orange;
                            border-color: orange;
                        }

                        img {
                            width: 40px;
                            margin-left: 20px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .payment-amount {
                display: flex;
                flex-direction: column;
                width: 320px;
                text-align: center;
            }
        }
    }
}