.main-content-section {
    position: relative;
    top: -80px;

    .information-section {
        padding-left: 20px;

        .header-title {
            text-align: left;

            .header-main-title {
                font-size: 1.5rem;
                line-height: 2rem;
                color: rgb(17 17 17);
                font-weight: 500;
            }

            .header-main-subtitle {
                font-size: 1rem;
                line-height: 2rem;
                color: rgb(17 17 17);
                font-weight: 400;
                margin-top: 0.5rem;
                opacity: 0.8;
            }
        }

        .information-frame {
            padding: 1.5rem;
            border-radius: 1rem;
            border: 1px solid rgb(184, 174, 174);
            margin-top: 1.5rem;

            .form-group {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .form-label {
                    width: 20%;
                }

                .form-control {
                    flex: 1;
                }

                .select-form-custom {
                    background: white;
                    color: black;
                    height: 40px;
                    width: 20%;
                    border-radius: 5px;
                    border-color: #e2dddd;
                }
            }

            .btn-update-frame {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 2rem;

                .btn-update-information {
                    color: rgb(255 255 255);
                    font-weight: 600;
                    font-size: 16px;
                    background-color: rgb(241 90 36);
                    border-radius: 24px;
                    width: 180px;
                    height: 46px;

                    &:hover {
                        opacity: 0.8;
                        border-color: rgb(241 90 36);
                    }
                }
            }
        }
    }
}