.DSContainer{
    width: 1128px;
    margin: auto !important;
    margin-top: 50px !important;
    .Filter{
        height: 500px;
        background-color: #888888;
        border-radius: 12.5px;
    }

    .DanhSach{
        height: auto;
          
        margin: 0;
        margin-left: 20px;
        .ChuyenXe{
            border-radius: 12.5px;
            box-shadow: 1px 1px 5px #c2c2c2;
            padding: 20px;
            margin-top: 20px;
            cursor: pointer;
            .TGDi{
                width: auto;  
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 15px;
                    margin: 0;
                }
            }

            .col-1{
                width: auto;
                margin: 0 auto;

            }

            .Gia{
                margin-top: 10px;
                font-weight: bold;
                color: #ff7300;
                font-size: 20px;
            }

            .DiChuyen{
                width:auto;
                img{
                    display: inline-block;
                    margin: 0 5px;
                }
                hr{
                    color: #000;
                    height: 1px;
                    width: 10px;
                    display: inline-block;
                }
                p{
                    display: inline-block;
                }
            }
        }
    }
}