/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(137, 137, 137, 0.795); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(137, 137, 137); 
}

input[type=number]::-webkit-inner-spin-button, //xóa nút tăng giảm trong input number
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

main {
    width: 100%;

    .main-layout {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 28rem;
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;

        .banner-search {
            position: absolute;
            z-index: 30;
            top: -80px;
            left: 0;
            right: 0; 

            .homepage-banner {
                display: flex;
                position: relative;
                width: 100%;
                height: 250px;
                margin-bottom: 2.5rem;
                margin-left: auto;
                margin-right: auto;
                border-radius: 0.75rem;
                object-fit: cover;
                box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.2);
                cursor: pointer;

                img {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 250px;
                    margin-bottom: 2.5rem;
                    margin-left: auto;
                    margin-right: auto;
                    inset: 0px;
                    color: transparent;
                    border-radius: 0.75rem;
                    object-fit: cover;
                    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.2);
                }
            }


            .Home {
                padding: 20px;
                margin: 0;
                width: 1128px;
                border: solid 1px #525151;
                border-radius: 12.5px;
                margin: auto;
                margin-top: 50px;
                outline: 8px solid rgba(201, 59, 16, 0.1);
                .form-control:focus{
                    box-shadow: none;
                }
            
                .LoaiVe{
                    width: 100%;
                    .form-check-input{
                        display: inline-block;
                        margin-left: 0;
                        margin: 4px 5px 0 10px;
                    }
                    .form-check-input + .form-check-label{
                        transition: .1s ease;
                        cursor: pointer;
                    }
                
                    .form-check-input:checked{
                        background-color: #ff7300;
                
                    } 
                
                    .form-check-input:checked + .form-check-label{
                        color: #ff7300;
                        font-weight: bold;
                    }
                }
            
                .Huongdan{
                    p{
                        cursor: pointer;
                        display: inline-block;
                        margin-bottom: 0;
                        transition: 0.1s ease;
                    }
                    p:hover{
                        color: #ff7300;
                    }
                }
            
                .DiaDiem{
                    margin: 15px;
                    p{
                        margin: 0;
                        margin-left: 15px;
                        font-size: 15px;
                    }
            
                    .DiaDiem-btn{
                        background-color: #fff;
                        border: solid 1px #808080;
                        border-radius: 12.5px;
                        color: #000;
                        font-weight: bold;
                        height: 50px;
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                    }
                    

                    .dropdown-menu{
                        width: calc(100% - 25px);
                        height: 270px;
                        overflow: auto;
                    }
            
                    .dropdown-item{
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
            
                    .dropdown-item:active{
                        background-color: #ff7300 !important;
                        font-weight: bold;
                    }
            
                    img{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        padding: 0;
                        margin-top: 32px;
                        transition: 0.1s ease;
                        cursor: pointer;
                        :hover{
                            // filter: brightness(20%);
                            transform: scale(0.97);
                
                        }
                    }
            
                    .SoVe-btn{
                        background-color: #fff;
                        border: solid 1px #808080;
                        border-radius: 12.5px;
                        color: #000;
                        height: 50px;
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: center;
            
                        p{
                            display: inline-block;
                            vertical-align: top;
                            margin: auto;
                            bottom: 15px;
                        }
            
                        img{
                            width: 15px;
                            height: auto;
                            display: flex;
                            align-items: right;
                            margin: 0;
            
                        }
                    }
            
                    .NgayDi{
                        background-color: #fff;
                        border: solid 1px #808080;
                        border-radius: 12.5px;
                        color: #000;
                        height: 50px;
                        width: 100%;
                        padding: 15px;
                    }
                    
                }
            
                .TimChuyen-btn{
                    margin: auto;
                    width: 150px;
                    border-radius: 12.5px;
                    padding: 10px;
                    margin-top:50px;
                    background-color: #ff7300;
                    box-shadow: 2px 2px 5px #808080;
                    transition: 0.3s ease;
                    color: #fff;
                    user-select: none;
                    cursor: pointer;
                }
                .TimChuyen-btn:hover{
                    background-color: #f8801e;
                    border-color: transparent;
                    transition: 0.3s ease;
                }
            
                .TimChuyen-btn:active{
                    background-color: #df6400;
                }
                
            }
            
        }
    }

    .de-xuat{
        margin: 0;
        height: auto;
        width: auto;
        margin-top: 20px;
        margin-left: 20px;

        h2{
            text-align: center;
            margin-top: 20px;
            color: #195805;
        }

        .ChuyenXe{
            border-radius: 12.5px;
            box-shadow: 1px 1px 5px #c2c2c2;
            padding: 20px;
            margin-top: 20px;
            justify-content: center;
            cursor: pointer;

            .TGDi{
                width: auto;  
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 15px;
                    margin: 0;
                }
            }

            .col-1{
                width: auto;
                margin: 0 auto;

            }

            .Gia{
                margin-top: 10px;
                font-weight: bold;
                color: #ff7300;
                font-size: 20px;
            }

            .DiChuyen{
                display: flex;
                align-items: center;
                width:auto;
                img{
                    display: inline-block;
                    margin: auto 5px;
                }

                #tg-qd{
                    
                }
            
                p{
                    display: inline-block;
                    margin: auto;
                }
            }
        
        }
    }

    .DSContainer{
        width: 1128px;
        margin: auto !important;
        margin-top: 50px !important;
        
        .Filter{
            height: 500px;
            border-radius: 12.5px;
            box-shadow: 1px 1px 5px #c2c2c2;
            margin-bottom: 50px;
    
            h2{
                font-size: 21px;
                margin: 10px;
                margin-bottom:30px;
            }
    
            h3{
                margin: 10px;
                font-size: 17px;
                font-weight: bold;
            }
    
            .form-check-input:focus{
                box-shadow: none;
                border: solid 1px #ff7300;
            }
    
            .form-check-input:checked{
                background-color: #ff7300;
                border: solid 1px #ff7300;
            }
    
            .row{
                h3{
                    padding-left: 0;
                }
    
                margin-left: 5px;
                .col-2{
                    width: auto;
                    padding: 0;
                    margin: 0 5px;
                }
                input{
                    display: none;
                }
    
                label{
                    border: solid 1px #c2c2c2;
                    padding: 3px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    user-select: none;
                }
                .form-check-input:checked + .form-check-label{
                    color: #ff7300;
                    border: solid 1px #ff7300;
                    transition: 0.1s ease;
                }   
    
                .form-check-input + .form-check-label{
                    transition: 0.1s ease;
                }  
            }
        }
    
        .FastFilter{
            margin-left: 5px;
            img{
                height: 20px;
                margin: auto;
                padding: 0;
                padding-left: 5px;
                
            }
            .icon{
                border: solid 1px #c2c2c2;
                margin: 5px 10px;
                width: auto;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                user-select: none;
                .col{
                    margin: auto;
                }
            }
    
    
            input{
                display: none;
            }
    
            .form-check-label{
                .col{
                    padding: 0 5px;
                    margin: 0 2px;
                }
            }
    
            .form-check-input:checked + .form-check-label{
                color: #ff7300;
                border: solid 1px #ff7300;
                transition: 0.1s ease;
                background: #ff730018;
            }   
    
            .form-check-input:checked + .form-check-label img{
                filter: invert(47%) sepia(42%) saturate(6373%) hue-rotate(349deg) brightness(96%) contrast(94%);
            }
    
            .form-check-input + .form-check-label{
                transition: 0.1s ease;
            }  
        }
    
        .DanhSach{
            height: auto;
              
            margin: 0;
            margin-left: 20px;
            .ChuyenXe{
                border-radius: 12.5px;
                box-shadow: 1px 1px 5px #c2c2c2;
                padding: 20px;
                margin-top: 20px;
                cursor: pointer;
                .TGDi{
                    width: auto;  
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 15px;
                        margin: 0;
                    }
                }
    
                .col-1{
                    width: auto;
                    margin: 0 auto;
    
                }
    
                .Gia{
                    margin-top: 10px;
                    font-weight: bold;
                    color: #ff7300;
                    font-size: 20px;
                }
    
                .DiChuyen{
                    width:auto;
                    img{
                        display: inline-block;
                        margin: 0 5px;
                    }
                    hr{
                        color: #000;
                        height: 1px;
                        width: 10px;
                        display: inline-block;
                    }
                    p{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

