.booking{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 28rem;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;

    h3{
        font-weight: normal;
        font-size: 22px;
    }

    .tt-dat-ve{
        position: absolute;
        width: 100%;
        z-index: 30;
        top: 20px;
        height: 1300px;
        
        .chon-ghe{
            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;  
            margin: 10px 0;

            h3{
                padding: 0;
            }

            .ghe{
                position: relative;
                margin-bottom: 10px;

                h5{
                    display: inline-block;
                    position: absolute;
                    top: 28%;
                    left: 42%;
                    font-size: 10px;
                    font-weight: bold;
                }
                .ghe-disabled{
                    height: 40px;
                    width: 40px;
                    background-image: url('https://futabus.vn/images/icons/seat_disabled.svg');
                    background-size: cover;
                }

                .disabled{
                    color: #a4afb8;
                }
                input{
                    display: none;
                }
                .form-check-label{
                    cursor: pointer;

                    .ghe-img{
                        height: 40px;
                        width: 40px;
                        background-image: url('https://futabus.vn/images/icons/seat_active.svg');
                        background-size: cover;
                    }
                    .ghe-h5{
                        color: #339bf5;
                    }
                }
                
                .form-check-input:checked + .form-check-label{
                    .ghe-img{
                        background-image: url('https://futabus.vn/images/icons/seat_selecting.svg');
                    }
                    .ghe-h5{
                        color: #ef5968;
                    }
                }
            }
            
            h4{
                font-size: 18px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            .color-detail{
                margin-left: 20px;
                padding-top: 50px;
                padding-left: 20px;
                div{
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    margin: 0;
                    margin-right: 10px;
                    padding-top: 10px;
                    border-radius: 5px;
                }
                .gray{
                    background-color: #d5d9dd;
                }

                .blue{
                    background-color: #def3ff;
                }

                .orange{
                    background-color: #fdede8;
                }

                p{
                    display: inline-block;
                    margin: 0;
                    margin-bottom: 10px;
                    justify-content: center;
                }
                    
            }
        }
        
        .thong-tin-khach{
            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;
            margin: 10px 0;
            h3{
                padding-bottom: 10px;
            }

            form{
                width: 90%;
                input{
                    margin-bottom: 15px;
                }
            }
        }

        .don-tra{
            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;
            margin: 10px 0;

            h3{
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 10px;
            }

            h4{
                font-size: 15px;
            }

            .DiaDiem-btn{
                background-color: #fff;
                border: solid 1px #808080;
                border-radius: 12.5px;
                color: #000;
                font-weight: bold;
                height: 40px;
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
            }
            .dropdown-menu{
                width: 100%;
                height: 200px;
                overflow: auto;
            }

            ul{
                padding: 0;
            }

            li{
                height: auto;
            }
            .dropdown-item{
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
            }

            label{
                width: 100%;
            }

            .vertical-line{
                padding: 0;
                opacity: 0.1;
                width: 1px;
                height: 100px;
                background-color: #000;
            }
        }

        .thanh-toan{
            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;
            margin: 10px 0;

            .col-6{
                font-size: 20px;
                justify-content: center;
                font-weight: bold;
            }

            .btn-thanhtoan{
                background-color: #ff831e;
                color: #fff;
            }

            .btn-huy{
                border: solid 1px #c3c3c3;
                color: #ff831e;
            }
        }
        .col-7{
            margin-right: 10px;
        }

        .thong-tin-luot-di{

            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;  
            margin: 10px 0;
            
            height: 0;
            height: 220px;
            line-height: 1.8;

            .field{
                color: #424242;
            }

            .info{
                font-weight: bold;
            }
        }

        .chi-tiet-gia{
            box-shadow: 1px 1px 3px #c2c2c2;
            padding: 20px;
            border-radius: 12.5px;  
            margin: 30px 0 10px 0;
            height: 0;
            height: 190px;
            line-height: 1.8;

            #gach-ngang{
                position: absolute;
                height: 1px;
                width: 356px;
                color: #000;
                opacity: 0.15 !important;
            }

            #tong-tien{
                color: #de6400;
            }
        }
    }
}