main {
    position: relative;

    .layout {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: white;
    
        .lookup-title {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            color: #00613d;
        }
    
        form {
            max-width: 600px;
            width: 90vw;
            text-align: center;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,.85);
            font-size: 14px;
            line-height: 1.5715;
    
            .container {
                display: inline-block;
                margin-bottom: 10px;
    
                .row {
                    margin: 0 0 25px;
                }
            }
        }
    
        .btn-lookup-tickets {
            width: 14rem;
            height: 40px;
            font-size: 16px;
            border-radius: 32px;
            border: none;
            padding: 0 20px;
            margin-bottom: 3rem;
            color: #ef5222;
            background: rgba(239,82,34,.1);
    
            &:hover {
                background: #ee673f;
            }
        }
        
    }
}