main {
    position: relative;

    .layout {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: white;

        .lookup-title {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            color: #00613d;
        }

        form {
            max-width: 600px;
            width: 90vw;
            text-align: center;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,.85);
            font-size: 14px;
            line-height: 1.5715;

            .container {
                display: inline-block;
                margin-bottom: 10px;

                .row {
                    margin: 0 0 25px;
                }
            }
        }

        .btn-lookup-tickets {
            width: 14rem;
            height: 40px;
            font-size: 16px;
            border-radius: 32px;
            border: none;
            padding: 0 20px;
            margin-bottom: 3rem;
            color: #ef5222;
            background: rgba(239,82,34,.1);

            &:hover {
                background: #ee673f;
            }
        }

    }
}

.overLay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 200;
}

.ticket-layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 5rem;
    display: flex;
    z-index: 250;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;

    .ticket-window {
        position: relative;
        min-width: 1080px;
        width: 100%;
        height: 100%;
        max-width: 42rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .ticket-modal-content {
            position: relative;
            background: white;
            border-radius: 0.5rem;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

            .ticket-modal-header {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 1.25rem;
                border-bottom: 1px solid black;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;

                h3 {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    font-weight: 600;

                    span {
                        color: rgb(63, 63, 240);
                    }
                }

                .btn-close-ticket-modal {
                    display: inline-flex;
                    align-items: center;
                    color: #a0aec0;
                    background-color: transparent;
                    transition: background-color 0.3s ease;
                    border-radius: 0.5rem;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    padding: 0;
                    margin-left: auto;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .ticket-modal-body {
                padding: 1.5rem;

                .ticket-basic-info {
                    border-bottom: 1px solid black;
                }

                .ticket-detail {
                    padding-top: 1.5rem;
                }

                .form-group-ticket {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    width: 45%;

                    .form-label-ticket {
                        width: 35%;
                    }

                    input {
                        line-height: 0 !important;
                    }

                    .form-control-ticket {
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                        background-color: transparent !important;
                    }
                }

                .special-input {
                    width: 100%;

                    .form-label-ticket {
                        width: 13%;
                    }
                }
            }
        }
    }
}