.menu-group-frame {
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(184, 174, 174);

    .menu-group-element-frame {
        cursor: pointer;

        .menu-group-element-layout {
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;

            .menu-group-element-content {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                font-size: 17px;
                font-weight: 500;
                color: black;
            }

        }

        .active {
            background-color: #fff4f1;
        }

        &:hover {
            background-color: #fef9f8;
        }
    }
}